.containerKishan {
    display: grid;
    grid-template-columns: 50% auto;
}

.col {
    padding: .4em 1.3em;
}
.color-dark {
    background: #2885c4;
}
.color-light {
    background: #57b3f1;
}
input.txt {
    border:0;
    padding:1em;
    width: 95%;
    margin-bottom: 0.5em;
    font-size: 90%;
    font-family: 'Raleway', 'Arial';
    border-radius: 0.5em;
    border-color: aliceblue;
}
.bhay {
    border:0;
    padding:1em;
    width: 95%;
    margin-bottom: 0.5em;
    font-size: 90%;
    font-family: 'Raleway', 'Arial';
    border-radius: 0.5em;
    border-color: aliceblue;
}

.bhay1{
    margin: 0px;
    width: 100%;
    height: 59px;
    font-size: 90%;
    margin-bottom: 1em;
    font-family: 'Raleway', 'Arial';
    border-radius: 0.5em;
    border-color: aliceblue;
  }

input.btn {
    border:0;
    display: block;
    padding:1em 3em;
    background: #a5f883;
    color: #003A61;
    cursor: pointer;
    margin-bottom: 1em;
    -ms-grid-column-align: right;
    font-size: 90%;
    font-family: 'Raleway', 'Arial';
    border-radius: 0.5em;
    border-color: aliceblue;
    float: right;
    margin-right: 1em;
}

.task-container {
    background: #3fa0E1;
    padding: 0.5em;
    font-weight: bold;
    cursor: pointer;
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 65%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.5em;
  }
  .badge-primary {
    color: rgb(240, 253, 255);
    background-color: rgb(32, 226, 15);
  }

  .badge-highlight {
    color: rgb(240, 253, 255);
    background-color: rgb(226, 82, 15);
  }

  .desc-area{
    margin: 0px;
    width: 359px;
    height: 59px;
    font-size: 90%;
    font-family: 'Raleway', 'Arial';
    border-radius: 0.5em;
    border-color: aliceblue;
  }



  .timestamp {
      font-family: 'Raleway', 'Arial';
      font-style: italic;
      font-weight: 125%;
      color: rgb(119, 147, 241);
  }

  .accor {
    margin : 0.1 0.1 0.1 0;
    font-size: 0.7em;
    border-radius: 0.5em;
    // background-color: #118ff7;
    margin-bottom: 1em;
    width: 100%;
    // padding: 0.5em;
    color: rgb(232, 235, 240);
    background-color: #3a5a8a;
    // background-color: #054491;
    
    // border-color: #630a0a;
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    border: 1px solid rgba(0, 0, 0, 0.125);


}
select {
    border: 0 none;
    color: #FFFFFF;
    background: transparent;
    font-size: 20px;
    font-weight: bold;
    padding: 2px 10px;
    width: 378px;
    *width: 350px;
    *background: rgb(91, 76, 177);
}
